<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        Login here
    </div>
    <div>
        <div class="form-group">
            <label for="userName">User Name:</label>
            <input type="text" class="form-control" id="userName" [(ngModel)]="login.userName">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="login.password">
        </div>
        <div class="form-group">
            <label for="rememberMe">Remember Me:</label>
            <input type="checkbox" class="form-control" id="rememberMe" [(ngModel)]="login.rememberMe">
        </div>
        <!--<div class="form-group">
            <label for="dateAdded">Date Testing:</label>
            <input class="form-control" id="dateAdded" type="date" min="2017-01-01" max="2017-03-31">
        </div>-->

        <div>
            <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="logMeIn()">Login</button>
            &nbsp;
            <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>
