<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>{{pageTitle}}</h1> 
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./app/assets/images/cflogo.png" 
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
        <div class="row">
            <div class="text-center">
                Welcome to the Cheesecake Fool, the place in middle Tennessee to get home made cheesecake. Come in and enjoy!
                </div>
        </div>
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Richard Richards using ng 4!</h3>

            <div class="text-center">
                <a href="http://www.cheesecakefool.com">cheesecakefool.com</a>
            </div>
        </div>
    </div>
</div>