<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div *ngIf="!account">Loading accounts...</div>
        <div *ngIf="account">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <table class="table">
                        <thead>
                        <tr>
                            <td>Key</td>
                            <td>Account Code</td>
                            <td>Account Name</td>
                            <td>Account Decription</td>
                            <td>Account DBA</td>
                            <td>Account Start</td>
                            <td>Account End</td>
                            <td>Account Address Count</td>
                            <td>Account Attribute Count</td>
                            <td>Account Employee Count</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ account.accountKey }}</td>
                            <td>{{ account.accountCode }}</td>
                            <td>{{ account.accountName }}</td>
                            <td>{{ account.accountDesc }}</td>
                            <td>{{ account.accountDBA }}</td>
                            <td>{{ account.accountStartDate }}</td>
                            <td>{{ account.accountEndDate }}</td>
                            <td>{{ account.addresses.length }}</td>
                            <td>{{ account.attributes.length }}</td>
                            <td>{{ account.employees.length }}</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="accountCode">Account Code:</label>
                <input type="text" class="form-control" id="accountCode" [(ngModel)]="editAccount.accountCode">
            </div>
            <div class="form-group">
                <label for="accountName">Account Name:</label>
                <input type="text" class="form-control" id="accountName" [(ngModel)]="editAccount.accountName">
            </div>
            <div class="form-group">
                <label for="accountDesc">Account Description:</label>
                <input type="text" class="form-control" id="accountDesc" [(ngModel)]="editAccount.accountDesc">
            </div>
            <div class="form-group">
                <label for="accountDBA">Account D/B/A:</label>
                <input type="text" class="form-control" id="accountDBA" [(ngModel)]="editAccount.accountDBA">
            </div>
            <div class="form-group">
                <label for="accountStartDate">Account Start Date:</label>
                <input type="text" class="form-control" id="accountStartDate" [(ngModel)]="editAccount.accountStartDate">
            </div>
            <div class="form-group">
                <label for="accountEndDate">Account End Date:</label>
                <input type="text" class="form-control" id="accountEndDate" [(ngModel)]="editAccount.accountEndDate">
            </div>

            <div>
                <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="updateAccount()">Save</button>
                &nbsp;
                <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="cancel(false)">Cancel</button>
                &nbsp;
                <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="deleteAccount()">Delete</button>
                &nbsp;
                <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="getAccountOpenOrders()">Open Orders</button>
            </div>

        </div>
    </div>
</div>

